*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-card {
    width: 60%;
    background-color: #F4A7B9;
    padding: 20px;

    border-radius: 10px;

    display: flex;
    align-items: center;
    gap: 10px;
}

.content-tasks {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 8px;
}