* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-task{
    width: 90%;
    height: 20px;
    border-radius: 5px;
}

.container-task input[type="checkbox"]{
    width: 12px;
    cursor: pointer;
}