* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.layout {
    height: 100vh;
    overflow: hidden;
}

/* MAIN SCROLLANDO POR BAIXO */
main {
    height: 100%;
    background-color: #F8C7A8;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    padding: 20px 10px;
}
