* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.container-navbar {
    position: fixed;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 60px;
    padding-bottom: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 10;
}

.container-navbar nav {
    width: 70%;
    height: 50px;
    
    background: #F4A7B9;    
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
    border: none;
    border-radius: 10px;
}